:host {
  width: 100%;
  background-color: #121212;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.typeahead {
  --header-height: 40px;
  &__header {
    display: flex;
    height: --header-height;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  &__ready {
    font-weight: 200;
  }

  &__body {
    padding: 20px 16px;
  }

  &__search {
    padding: 6px 12px 6px 34px;
    border-radius: 8px;
    background: rgba(44, 44, 44, 1) url('/assets/icons/placeholder-label.svg') 12px center no-repeat;
  }

  &__search-input {
    display: block;
    width: 100%;
    height: 20px;
    padding: 1px 0 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 200;
    &[ng-reflect-is-disabled="true"] {
      pointer-events: none;
    }
  }

  &__scroll-container {
    max-height: calc(98vh - var(--header-height) - 52px); // todo
    overflow: auto;
  }



  &__radio-group {
    display: flex;
    flex-direction: column;
  }

  &__no-data {
    padding-top: 16px;
  }
}

mat-list-item {
  padding: 0 !important;;
}

mat-divider {
  border-top: 0.5px solid rgba(75, 75, 75, 1) !important;;
}

