<div class="typeahead">
  <div class="typeahead__header">
    <button
      mat-icon-button
      type="reset"
      (click)="cancelChanges()"
      title="Отмена"
      class="typeahead__cancel"
    >
      <app-backward-icon></app-backward-icon>
    </button>
    <span>{{ title }}</span>
    <button mat-button (click)="confirmChanges()">Готово</button>
  </div>

  <div class="typeahead__body">
    <mat-form-field class="typeahead__search">
      <input
        matNativeControl
        type="text"
        placeholder="Поиск"
        [formControl]="searchControl"
      />
    </mat-form-field>

    <div cdkScrollable class="typeahead__scroll-container">
      @if (items.length > 0) {
        @if (isMultiple) {
          <mat-list>
            @for (item of filteredItems(); track item.id) {
              <mat-list-item>
                <app-round-checkbox
                  [checked]="item.selected"
                  [label]="item.name"
                  (checkedChange)="
                    onCheckboxChange({ value: item.id, checked: $event })
                  "
                >
                </app-round-checkbox>
              </mat-list-item>
            }
          </mat-list>
        } @else {
          <mat-radio-group
            (change)="onRadioChange($event.value)"
            class="typeahead__radio-group"
          >
            @for (item of filteredItems(); track item.id) {
              <mat-radio-button [value]="item.id" [checked]="item.selected">
                {{ item.name }}
              </mat-radio-button>
            }
          </mat-radio-group>
        }
      } @else {
        <div>Нет данных</div>
      }
    </div>
  </div>
</div>
