/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "@angular/cdk/overlay-prebuilt.css";
@import "./assets/styles/font-faces.css";

* {
  box-sizing: border-box;
  font: 400 15px "SF Pro Display";
}

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: 0,
    )
  );
  --mat-divider-width: 0.5px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-mdc-radio-button {
  .mat-mdc-radio-touch-target,
  .mdc-radio__native-control,
  .mdc-radio__background:before {
    width: 36px !important;
    height: 36px !important;
  }

  .mdc-radio,
  .mdc-radio__background {
    width: 16px !important;
    height: 16px !important;
  }

  .mdc-radio__outer-circle {
    border-width: 1px !important;
  }

  .mdc-radio__inner-circle {
    top: -4px !important;
    left: -4px !important;
    border-width: 12px !important;
  }
}

.mat-mdc-icon-button svg {
  width: 12px !important;
}
